In [63]:
import pandas as pd
import yfinance as yf
from datetime import datetime, timedelta, date
import math
import numpy as np

In [64]:
targetTicker = input()

H.TO

In [65]:
target = yf.Ticker(targetTicker)
targetInfo = target.info
targetInfo

{'zip': 'M5G 2P5',
 'sector': 'Utilities',
 'fullTimeEmployees': 5950,
 'longBusinessSummary': 'Hydro One Limited, through its subsidiaries, operates as an electricity transmission and distribution company in Ontario. It operates through three segments: Transmission Business, Distribution Business, and Other. The company owns and operates approximately 30,000 circuit kilometers (KMs) of high-voltage transmission lines and 124,000 circuit KMs of primary low-voltage distribution network. It serves approximately 1.4 million residential, small business, commercial, and industrial customers. The company also provides telecommunications support services for its transmission and distribution businesses; and communications and information technology services and solutions. Hydro One Limited was incorporated in 2015 and is headquartered in Toronto, Canada.',
 'city': 'Toronto',
 'phone': '416 345 5000',
 'state': 'ON',
 'country': 'Canada',
 'companyOfficers': [],
 'website': 'http://www.hydroone.com',
 'maxAge': 1,
 'address1': 'South Tower',
 'industry': 'Utilitiesâ€”Regulated Electric',
 'address2': '8th Floor 483 Bay Street',
 'ebitdaMargins': 0.31316,
 'profitMargins': 0.13104,
 'grossMargins': 0.33206,
 'operatingCashflow': 2036000000,
 'revenueGrowth': 0.031,
 'operatingMargins': 0.20786,
 'ebitda': 2287000064,
 'targetLowPrice': 31,
 'recommendationKey': 'buy',
 'grossProfits': 2384000000,
 'freeCashflow': -855124992,
 'targetMedianPrice': 32,
 'currentPrice': 31.19,
 'earningsGrowth': -0.784,
 'currentRatio': 0.435,
 'returnOnAssets': 0.03247,
 'numberOfAnalystOpinions': 15,
 'targetMeanPrice': 33.07,
 'debtToEquity': 130.752,
 'returnOnEquity': 0.08891,
 'targetHighPrice': 37,
 'totalCash': 46000000,
 'totalDebt': 14149999616,
 'totalRevenue': 7303000064,
 'totalCashPerShare': 0.077,
 'financialCurrency': 'CAD',
 'revenuePerShare': 12.221,
 'quickRatio': 0.335,
 'recommendationMean': 2.5,
 'exchange': 'TOR',
 'shortName': 'HYDRO ONE LIMITED',
 'longName': 'Hydro One Limited',
 'exchangeTimezoneName': 'America/Toronto',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'H.TO',
 'messageBoardId': 'finmb_2405489',
 'market': 'ca_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 4.524,
 'beta3Year': None,
 'enterpriseToEbitda': 14.445,
 '52WeekChange': 0.15131581,
 'morningStarRiskRating': None,
 'forwardEps': 1.62,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 598217024,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 17.943,
 'sharesShort': 11393889,
 'sharesPercentSharesOut': 0.019,
 'fundFamily': None,
 'lastFiscalYearEnd': 1609372800,
 'heldPercentInstitutions': 0.21209,
 'netIncomeToCommon': 948000000,
 'trailingEps': 1.58,
 'lastDividendValue': None,
 'SandP52WeekChange': 0.3123802,
 'priceToBook': 1.7382823,
 'heldPercentInsiders': 0.47212002,
 'nextFiscalYearEnd': 1672444800,
 'yield': None,
 'mostRecentQuarter': 1625011200,
 'shortRatio': 16.71,
 'sharesShortPreviousMonthDate': 1627603200,
 'floatShares': 315751063,
 'beta': 0.192563,
 'enterpriseValue': 33035845632,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': None,
 'lastSplitFactor': None,
 'legalType': None,
 'lastDividendDate': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': -0.785,
 'priceToSalesTrailing12Months': 2.554894,
 'dateShortInterest': 1630368000,
 'pegRatio': 7.72,
 'ytdReturn': None,
 'forwardPE': 19.253086,
 'lastCapGain': None,
 'shortPercentOfFloat': None,
 'sharesShortPriorMonth': 10847684,
 'impliedSharesOutstanding': None,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 31.5,
 'regularMarketOpen': 31.4,
 'twoHundredDayAverage': 30.259562,
 'trailingAnnualDividendYield': 0.032444444,
 'payoutRatio': 0.6501,
 'volume24Hr': None,
 'regularMarketDayHigh': 31.44,
 'navPrice': None,
 'averageDailyVolume10Day': 2039166,
 'regularMarketPreviousClose': 31.5,
 'fiftyDayAverage': 31.279118,
 'trailingAnnualDividendRate': 1.022,
 'open': 31.4,
 'toCurrency': None,
 'averageVolume10days': 2039166,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 1.07,
 'exDividendDate': 1630972800,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 31.12,
 'currency': 'CAD',
 'trailingPE': 19.740505,
 'regularMarketVolume': 137193,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 18658390016,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 948353,
 'dayLow': 31.12,
 'ask': 31.2,
 'askSize': 0,
 'volume': 137193,
 'fiftyTwoWeekHigh': 32.14,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 3.84,
 'fiftyTwoWeekLow': 26.38,
 'bid': 31.19,
 'tradeable': False,
 'dividendYield': 0.033800002,
 'bidSize': 0,
 'dayHigh': 31.44,
 'regularMarketPrice': 31.19,
 'logo_url': 'https://logo.clearbit.com/hydroone.com'}

In [66]:
options = target.options
options

()

In [70]:
targetIndustry = targetInfo["industry"]
targetMktCap = targetInfo["marketCap"]
enterpriseValue = targetInfo["enterpriseValue"]
targetCountry = targetInfo["country"]

In [71]:
financials = target.financials
balance = target.balance_sheet
cash = target.cashflow
ltmfinancials = target.quarterly_financials.sum(axis=1)
ltmbalance = target.quarterly_balance_sheet.iloc[:,0]
ltmcash = target.quarterly_cashflow.sum(axis=1)

In [72]:
target.quarterly_earnings

            Revenue   Earnings
Quarter
3Q2020   1903000000  290000000
4Q2020   1867000000  161000000
1Q2021   1811000000  268000000
2Q2021   1722000000  238000000

In [73]:
ltmfinancials

Research Development                      0.000000e+00
Effect Of Accounting Charges              0.000000e+00
Income Before Tax                         1.066000e+09
Minority Interest                         3.620000e+08
Net Income                                9.570000e+08
Selling General Administrative            0.000000e+00
Gross Profit                              2.417000e+09
Ebit                                      1.510000e+09
Operating Income                          1.510000e+09
Other Operating Expenses                  0.000000e+00
Interest Expense                         -4.590000e+08
Extraordinary Items                       0.000000e+00
Non Recurring                             0.000000e+00
Other Items                               0.000000e+00
Income Tax Expense                        1.010000e+08
Total Revenue                             7.303000e+09
Total Operating Expenses                  5.793000e+09
Cost Of Revenue                           4.886000e+09
Total Other Income Expense Net           -4.440000e+08
Discontinued Operations                   0.000000e+00
Net Income From Continuing Ops            9.650000e+08
Net Income Applicable To Common Shares    9.480000e+08
dtype: float64

In [75]:
ltmcash

Change To Liabilities                        3.900000e+07
Total Cashflows From Investing Activities   -2.253000e+09
Net Borrowings                               1.272000e+09
Total Cash From Financing Activities         2.260000e+08
Change To Operating Activities               1.160000e+08
Issuance Of Stock                            1.300000e+07
Net Income                                   9.570000e+08
Change In Cash                               9.000000e+06
Total Cash From Operating Activities         2.036000e+09
Depreciation                                 7.690000e+08
Other Cashflows From Investing Activities    1.200000e+07
Dividends Paid                              -6.230000e+08
Change To Inventory                          0.000000e+00
Change To Account Receivables               -9.100000e+07
Other Cashflows From Financing Activities   -1.600000e+07
Change To Netincome                          2.130000e+08
Capital Expenditures                        -1.987000e+09
dtype: float64

In [76]:
ltmbalance

Intangible Assets                   5.410000e+08
Capital Surplus                     3.600000e+07
Total Liab                          1.953700e+10
Total Stockholder Equity            1.073400e+10
Minority Interest                   8.800000e+07
Deferred Long Term Liab             4.601000e+09
Other Current Liab                  4.100000e+07
Total Assets                        3.035900e+10
Common Stock                        5.688000e+09
Other Current Assets                2.330000e+08
Retained Earnings                   5.033000e+09
Other Liab                          4.230000e+09
Good Will                           3.730000e+08
Treasury Stock                     -2.300000e+07
Other Assets                        4.735000e+09
Cash                                4.600000e+07
Total Current Liabilities           3.114000e+09
Deferred Long Term Asset Charges    1.250000e+08
Short Long Term Debt                6.140000e+08
Other Stockholder Equity           -2.300000e+07
Property Plant Equipment            2.334500e+10
Total Current Assets                1.355000e+09
Long Term Investments               1.000000e+07
Net Tangible Assets                 9.820000e+09
Net Receivables                     9.960000e+08
Long Term Debt                      1.213000e+10
Inventory                           2.200000e+07
Accounts Payable                    3.260000e+08
Name: 2021-06-30 00:00:00, dtype: float64

In [95]:
comparableCompanies = pd.read_excel(r"C:\Users\Robpr\Downloads\GridExport_September_7_2021_10_12_43.xlsx")
comparableCompanies

,Identifier (RIC),Company Name,Country of Headquarters,TRBC Industry Name,Market Cap
0,FTS.TO,Fortis Inc,Canada,Electric Utilities,2.173930e+10
1,H.TO,Hydro One Ltd,Canada,Electric Utilities,1.519661e+10
2,EMA.TO,Emera Inc,Canada,Electric Utilities,1.211628e+10
3,RNW.TO,TransAlta Renewables Inc,Canada,Electric Utilities,4.280131e+09
4,BLX.TO,Boralex Inc,Canada,Electric Utilities,3.281079e+09
5,INE.TO,Innergex Renewable Energy Inc,Canada,Electric Utilities,3.105409e+09
6,ARR.TO,Altius Renewable Royalties Corp,Canada,Electric Utilities,1.890221e+08
7,LPEN.TO,Loop Energy Inc,Canada,Electric Utilities,1.511893e+08
8,JE.V,Just Energy Group Inc,Canada,Electric Utilities,4.529203e+07
9,JPWR_u.V,Jade Power Trust,Canada,Electric Utilities,3.322603e+07
10,WEB.V,Westbridge Energy Corp,Canada,Electric Utilities,1.293624e+07
11,SXI.TO,Synex International Inc,Canada,Electric Utilities,9.466391e+06
12,NKWh.V,Oceanic Wind Energy Inc,Canada,Electric Utilities,8.183478e+06
13,REO.CD,Reservoir Capital Corp,Canada,Electric Utilities,8.067974e+06
14,GCA.CD,Gencan Capital Inc,Canada,Electric Utilities,2.564303e+06
15,AKHh.V,Alaska Hydro Corp,Canada,Electric Utilities,2.119033e+06
16,GTOO.CD,G2 Technologies Corp,Canada,Electric Utilities,1.474058e+06
17,PTOS.PK,P2 Solar Inc,Canada,Electric Utilities,1.365725e+06
18,WWPW.PK,Wind Works Power Corp,Canada,Electric Utilities,8.958767e+05
19,QCPC.PK,Quantex Capital Corp,Canada,Electric Utilities,1.914058e+01
20,BEPH.N,Brookfield BRP Holdings (Canada) Inc,Canada,Electric Utilities,NaN

In [99]:
# comps = list(comparableCompanies['Identifier (RIC)'])
comps = []
for ric in canadianUtilities["Identifier (RIC)"]:
    mktCap = canadianUtilities[canadianUtilities["Identifier (RIC)"] == ric]["Market Cap"].iloc[0]
    
    if abs((mktCap - targetMktCap) / targetMktCap) < 0.9:
        comps.append(ric)
comps

['FTS.TO', 'H.TO', 'EMA.TO', 'RNW.TO', 'BLX.TO', 'INE.TO']

In [100]:
benchmarking1 = {"Ticker": [], 
                 "Equity Value": [],
                 "Enterprise Value": [],
                 "LTM Sales": [],
                 "LTM Gross Profit": [],
                 "LTM EBITDA": [],
                 "LTM EBIT": [],
                 "LTM Net Income": [],
                 "LTM Gross Margin": [],
                 "LTM EBITDA Margin": [],
                 "LTM EBIT Margin": [],
                 "LTM Profit Margin": [],
                 "1-year Sales Growth": [],
                 "1-year EBITDA Growth": [],
                 "1-year Net Income Growth": []}

benchmarking2 = {'Ticker': [],
                'Beta': [],
                'ROIC': [],
                'ROA': [],
                'ROE': [],
                'Implied Div. Yield': [],
                'Debt / Tot. Cap.': [],
                'Debt / EBITDA': [],
                'Net Debt / EBITDA': [],
                'EBITDA / Int. Exp.': [],
                '(EBITDA - Cpx) / Int.': [],
                'EBIT / Int. Exp.': []}

output = {'Ticker': [],
          'Current Share Price': [],
          '% of 52-wk. High': [],
          'Equity Value': [],
          'Enterprise Value': [],
          'EV / LTM Sales': [],
          'EV / LTM EBITDA': [],
          'EV / LTM EBIT': [],
          'Price / LTM EPS': []}

for comp in comps:
    tick = yf.Ticker(comp)
    
    financials = tick.financials
    balance = tick.balance_sheet
    cash = tick.cashflow
    ltmfinancials = tick.quarterly_financials.sum(axis=1)
    ltmbalance = tick.quarterly_balance_sheet.iloc[:,0]
    ltmcash = tick.quarterly_cashflow.sum(axis=1)
    
    # Market Valuation
    equityValue = tick.info["marketCap"]
    enterpriseValue = tick.info["enterpriseValue"]
    
    # General
    beta = tick.info["beta"]
    benchmarking2['Beta'].append(beta)
    benchmarking2['Ticker'].append(comp)
    
    # LTM Financial Statistics
    ltmSales = ltmfinancials.loc["Total Revenue"]
    ltmGross = ltmfinancials.loc["Gross Profit"]
    ltmEBITDA = ltmfinancials.loc["Ebit"] + ltmcash.loc["Depreciation"]
    ltmEBIT = ltmfinancials.loc["Ebit"]
    ltmNetIncome = ltmfinancials.loc["Net Income"]
    
    # LTM Profitability Margins
    ltmGrossMargin = ltmGross / ltmSales
    ltmEBITDAMargin = ltmEBITDA / ltmSales
    ltmEBITMargin = ltmEBIT / ltmSales
    ltmNetIncMargin = ltmNetIncome / ltmSales
    
    # Growth Rates (1-year Annual)
    salestm1 = financials.iloc[:, 1].loc["Total Revenue"]
    salest = financials.iloc[:, 0].loc["Total Revenue"]
    salesGr = (salest - salestm1) / salestm1

    ebitdatm1 = financials.iloc[:, 1].loc["Ebit"] + cash.iloc[:, 1].loc["Depreciation"] 
    ebitdat = financials.iloc[:, 0].loc["Ebit"] + cash.iloc[:, 0].loc["Depreciation"]
    ebitdaGr = (ebitdat - ebitdatm1) / ebitdatm1

    netIncometm1 = financials.iloc[:, 1].loc["Net Income"]
    netIncomet = financials.iloc[:, 0].loc["Net Income"]
    netIncomeGr = (netIncomet - netIncometm1) / netIncometm1
    
    benchmarking1["Ticker"].append(comp)
    
    # Market Valuation
    benchmarking1["Equity Value"].append(equityValue)
    benchmarking1['Enterprise Value'].append(enterpriseValue)
    
    # LTM Financial Statistics
    benchmarking1['LTM Sales'].append(ltmSales)
    benchmarking1['LTM Gross Profit'].append(ltmGross)
    benchmarking1['LTM EBITDA'].append(ltmEBITDA)
    benchmarking1['LTM EBIT'].append(ltmEBIT)
    benchmarking1['LTM Net Income'].append(ltmNetIncome)
    
    # LTM Profitability Margins
    benchmarking1['LTM Gross Margin'].append(ltmGrossMargin)
    benchmarking1['LTM EBITDA Margin'].append(ltmEBITDAMargin)
    benchmarking1['LTM EBIT Margin'].append(ltmEBITMargin)
    benchmarking1['LTM Profit Margin'].append(ltmNetIncMargin)
    
    # Growth Rates
    benchmarking1['1-year Sales Growth'].append(salesGr)
    benchmarking1['1-year EBITDA Growth'].append(ebitdaGr)
    benchmarking1['1-year Net Income Growth'].append(netIncomeGr)
    
    # Return on Investment
    debtt = ltmbalance.loc['Short Long Term Debt'] + ltmbalance.loc['Long Term Debt']
    debttm1 = balance.iloc[:, 0].loc['Short Long Term Debt'] + balance.iloc[:, 0].loc['Long Term Debt']
    netDebtt = debtt - ltmbalance.loc['Cash']
    netDebttm1 = debttm1 - balance.iloc[:, 0].loc['Cash']
    avgNetDebt = (netDebtt + netDebttm1) / 2
    roic = ltmEBIT / avgNetDebt
    
    avgEquity = (ltmbalance.loc['Total Stockholder Equity'] + balance.iloc[:, 0].loc['Total Stockholder Equity']) / 2
    roe = ltmNetIncome / avgEquity
    
    avgAssets = (ltmbalance.loc['Total Assets'] + balance.iloc[:, 0].loc['Total Assets']) / 2
    roa = ltmNetIncome / avgAssets
    
    impliedDivYield = tick.info['dividendRate'] / tick.info['currentPrice']
    
    benchmarking2['ROIC'].append(roic)
    benchmarking2['ROE'].append(roe)
    benchmarking2['ROA'].append(roa)
    benchmarking2['Implied Div. Yield'].append(impliedDivYield)
    
    # LTM Leverage Ratios
    totCap = ltmbalance.loc['Total Stockholder Equity'] + debtt
    debtToTotCap = debtt / totCap
    
    debtToEBITDA = debtt / ltmEBITDA
    netDebtToEBITDA = netDebtt / ltmEBITDA
    
    benchmarking2['Debt / Tot. Cap.'].append(debtToTotCap)
    benchmarking2['Debt / EBITDA'].append(debtToEBITDA)
    benchmarking2['Net Debt / EBITDA'].append(netDebtToEBITDA)
    
    # LTM Coverage Ratios
    ebitdaToIntExp = ltmEBITDA / (ltmfinancials.loc['Interest Expense'] * -1)
    ebitdaLessCapexToIntExp = (ltmEBITDA - ltmcash.loc['Capital Expenditures']) / (ltmfinancials.loc['Interest Expense']*-1)
    ebitToIntExp = ltmEBIT / (ltmfinancials.loc['Interest Expense']*-1)
    
    benchmarking2['EBITDA / Int. Exp.'].append(ebitdaToIntExp)
    benchmarking2['(EBITDA - Cpx) / Int.'].append(ebitdaLessCapexToIntExp)
    benchmarking2['EBIT / Int. Exp.'].append(ebitToIntExp)
    
    # Output
    output['Ticker'].append(comp)
    output['Current Share Price'].append(tick.info['currentPrice'])
    output['% of 52-wk. High'].append(tick.info['currentPrice'] / tick.info['fiftyTwoWeekHigh'])
    output['Equity Value'].append(equityValue)
    output['Enterprise Value'].append(enterpriseValue)
    
    evToLtmSales = enterpriseValue / ltmSales
    evToLtmEBITDA = enterpriseValue / ltmEBITDA
    evToLtmEBIT = enterpriseValue / ltmEBIT
    priceToLtmEPS = tick.info['currentPrice'] / (ltmNetIncome / tick.info['sharesOutstanding'])
    
    output['EV / LTM Sales'].append(evToLtmSales)
    output['EV / LTM EBITDA'].append(evToLtmEBITDA)
    output['EV / LTM EBIT'].append(evToLtmEBIT)
    output['Price / LTM EPS'].append(priceToLtmEPS)

In [101]:
benchmarking1Df = pd.DataFrame(benchmarking1)
benchmarking1Df

,Ticker,Equity Value,Enterprise Value,LTM Sales,LTM Gross Profit,LTM EBITDA,LTM EBIT,LTM Net Income,LTM Gross Margin,LTM EBITDA Margin,LTM EBIT Margin,LTM Profit Margin,1-year Sales Growth,1-year EBITDA Growth,1-year Net Income Growth
0,FTS.TO,27409702912,55356231680,9.136000e+09,3.923000e+09,3.977000e+09,2.531000e+09,1.295000e+09,0.429400,0.435311,0.277036,0.141747,0.017306,0.037938,-0.260163
1,H.TO,18670352384,33035845632,7.303000e+09,2.417000e+09,2.279000e+09,1.510000e+09,9.570000e+08,0.330960,0.312064,0.206764,0.131042,0.125000,0.027273,1.246231
2,EMA.TO,15164279808,31560710144,5.449000e+09,2.226000e+09,1.931000e+09,1.035000e+09,6.460000e+08,0.408515,0.354377,0.189943,0.118554,-0.099002,-0.091703,0.388418
3,RNW.TO,5252592128,11293958144,4.390000e+08,2.520000e+08,2.470000e+08,1.100000e+08,1.360000e+08,0.574032,0.562642,0.250569,0.309795,-0.015982,-0.022222,-0.486034
4,BLX.TO,4017533952,7904239104,6.670000e+08,5.040000e+08,4.390000e+08,1.690000e+08,4.100000e+07,0.755622,0.658171,0.253373,0.061469,0.102787,0.069767,-2.410256
5,INE.TO,4017806080,8667294720,6.908340e+08,5.352980e+08,4.921580e+08,2.562710e+08,-1.493990e+08,0.774858,0.712411,0.370959,-0.216259,0.100827,0.052665,0.163582

In [102]:
benchmarking2Df = pd.DataFrame(benchmarking2)
benchmarking2Df

,Ticker,Beta,ROIC,ROA,ROE,Implied Div. Yield,Debt / Tot. Cap.,Debt / EBITDA,Net Debt / EBITDA,EBITDA / Int. Exp.,(EBITDA - Cpx) / Int.,EBIT / Int. Exp.
0,FTS.TO,0.061752,0.105056,0.023255,0.075282,0.034726,0.587332,6.201911,6.051295,3.713352,7.014939,2.363212
1,H.TO,0.192563,0.118441,0.031557,0.089994,0.034284,0.542806,5.591926,5.571742,4.965142,9.294118,3.289760
2,EMA.TO,0.228419,0.075592,0.020640,0.078756,0.043133,0.631435,7.279648,7.189539,3.055380,6.693038,1.637658
3,RNW.TO,0.616201,0.446247,0.037836,0.062271,0.047764,0.233865,2.611336,1.639676,5.744186,6.767442,2.558140
4,BLX.TO,0.557104,0.050059,0.007441,0.040796,0.016858,0.782024,8.343964,7.810934,3.376923,4.476923,1.300000
5,INE.TO,0.211819,0.054622,-0.021298,-0.194016,0.034549,0.880602,9.924835,9.612649,2.093523,4.259641,1.090116

In [103]:
bm1Stats = benchmarking1Df.describe().loc['mean min 50% max'.split()].rename({'50%': 'median'}, axis=0)
bm1Stats

,Equity Value,Enterprise Value,LTM Sales,LTM Gross Profit,LTM EBITDA,LTM EBIT,LTM Net Income,LTM Gross Margin,LTM EBITDA Margin,LTM EBIT Margin,LTM Profit Margin,1-year Sales Growth,1-year EBITDA Growth,1-year Net Income Growth
mean,1.242204e+10,2.463638e+10,3.947472e+09,1.642883e+09,1.560860e+09,9.352118e+08,4.876002e+08,0.545565,0.505829,0.258108,0.091058,0.038490,0.012286,-0.226370
min,4.017534e+09,7.904239e+09,4.390000e+08,2.520000e+08,2.470000e+08,1.100000e+08,-1.493990e+08,0.330960,0.312064,0.189943,-0.216259,-0.099002,-0.091703,-2.410256
median,1.020844e+10,2.142733e+10,3.069917e+09,1.380649e+09,1.211579e+09,6.456355e+08,3.910000e+08,0.501716,0.498977,0.251971,0.124798,0.059067,0.032605,-0.048290
max,2.740970e+10,5.535623e+10,9.136000e+09,3.923000e+09,3.977000e+09,2.531000e+09,1.295000e+09,0.774858,0.712411,0.370959,0.309795,0.125000,0.069767,1.246231

In [104]:
bm2Stats = benchmarking2Df.describe().loc['mean min 50% max'.split()].rename({'50%': 'median'}, axis=0)
bm2Stats

,Beta,ROIC,ROA,ROE,Implied Div. Yield,Debt / Tot. Cap.,Debt / EBITDA,Net Debt / EBITDA,EBITDA / Int. Exp.,(EBITDA - Cpx) / Int.,EBIT / Int. Exp.
mean,0.311310,0.141670,0.016572,0.025514,0.035219,0.609677,6.658937,6.312639,3.824751,6.417684,2.039814
min,0.061752,0.050059,-0.021298,-0.194016,0.016858,0.233865,2.611336,1.639676,2.093523,4.259641,1.090116
median,0.220119,0.090324,0.021947,0.068777,0.034637,0.609383,6.740779,6.620417,3.545138,6.730240,2.000435
max,0.616201,0.446247,0.037836,0.089994,0.047764,0.880602,9.924835,9.612649,5.744186,9.294118,3.289760

In [105]:
# with pd.ExcelWriter('H-Comps.xlsx') as writer:  
#     benchmarking1Df.to_excel(writer, sheet_name='Benchmarking 1', index=False)
#     bm1Stats.to_excel(writer, sheet_name='BM1 Stats')
#     benchmarking1Df.to_excel(writer, sheet_name='Benchmarking 2', index=False)
#     bm2Stats.to_excel(writer, sheet_name='BM2 Stats')

In [106]:
outputDf = pd.DataFrame(output)
outputDf

,Ticker,Current Share Price,% of 52-wk. High,Equity Value,Enterprise Value,EV / LTM Sales,EV / LTM EBITDA,EV / LTM EBIT,Price / LTM EPS
0,FTS.TO,58.17,0.981772,27409702912,55356231680,6.059132,13.919093,21.871289,21.165795
1,H.TO,31.21,0.971064,18670352384,33035845632,4.523599,14.495764,21.878043,19.509251
2,EMA.TO,59.12,0.981082,15164279808,31560710144,5.792019,16.344231,30.493440,23.474118
3,RNW.TO,19.68,0.804250,5252592128,11293958144,25.726556,45.724527,102.672347,38.622000
4,BLX.TO,39.15,0.690476,4017533952,7904239104,11.850433,18.005100,46.770646,97.988630
5,INE.TO,20.84,0.641626,4017806080,8667294720,12.546132,17.610797,33.820817,-26.893125

In [107]:
outputStats = outputDf.describe().loc['mean min 50% max'.split()].rename({'50%': 'median'}, axis=0)
outputStats

,Current Share Price,% of 52-wk. High,Equity Value,Enterprise Value,EV / LTM Sales,EV / LTM EBITDA,EV / LTM EBIT,Price / LTM EPS
mean,38.028333,0.845045,1.242204e+10,2.463638e+10,11.082979,21.016585,42.917764,28.977778
min,19.680000,0.641626,4.017534e+09,7.904239e+09,4.523599,13.919093,21.871289,-26.893125
median,35.180000,0.887657,1.020844e+10,2.142733e+10,8.954783,16.977514,32.157129,22.319956
max,59.120000,0.981772,2.740970e+10,5.535623e+10,25.726556,45.724527,102.672347,97.988630

In [108]:
benchmarking = pd.merge(benchmarking1Df, benchmarking2Df, on='Ticker')

benchmarking

,Ticker,Equity Value,Enterprise Value,LTM Sales,LTM Gross Profit,LTM EBITDA,LTM EBIT,LTM Net Income,LTM Gross Margin,LTM EBITDA Margin,...,ROIC,ROA,ROE,Implied Div. Yield,Debt / Tot. Cap.,Debt / EBITDA,Net Debt / EBITDA,EBITDA / Int. Exp.,(EBITDA - Cpx) / Int.,EBIT / Int. Exp.
0,FTS.TO,27409702912,55356231680,9.136000e+09,3.923000e+09,3.977000e+09,2.531000e+09,1.295000e+09,0.429400,0.435311,...,0.105056,0.023255,0.075282,0.034726,0.587332,6.201911,6.051295,3.713352,7.014939,2.363212
1,H.TO,18670352384,33035845632,7.303000e+09,2.417000e+09,2.279000e+09,1.510000e+09,9.570000e+08,0.330960,0.312064,...,0.118441,0.031557,0.089994,0.034284,0.542806,5.591926,5.571742,4.965142,9.294118,3.289760
2,EMA.TO,15164279808,31560710144,5.449000e+09,2.226000e+09,1.931000e+09,1.035000e+09,6.460000e+08,0.408515,0.354377,...,0.075592,0.020640,0.078756,0.043133,0.631435,7.279648,7.189539,3.055380,6.693038,1.637658
3,RNW.TO,5252592128,11293958144,4.390000e+08,2.520000e+08,2.470000e+08,1.100000e+08,1.360000e+08,0.574032,0.562642,...,0.446247,0.037836,0.062271,0.047764,0.233865,2.611336,1.639676,5.744186,6.767442,2.558140
4,BLX.TO,4017533952,7904239104,6.670000e+08,5.040000e+08,4.390000e+08,1.690000e+08,4.100000e+07,0.755622,0.658171,...,0.050059,0.007441,0.040796,0.016858,0.782024,8.343964,7.810934,3.376923,4.476923,1.300000
5,INE.TO,4017806080,8667294720,6.908340e+08,5.352980e+08,4.921580e+08,2.562710e+08,-1.493990e+08,0.774858,0.712411,...,0.054622,-0.021298,-0.194016,0.034549,0.880602,9.924835,9.612649,2.093523,4.259641,1.090116

In [109]:
benchmarking.columns

Index(['Ticker', 'Equity Value', 'Enterprise Value', 'LTM Sales',
       'LTM Gross Profit', 'LTM EBITDA', 'LTM EBIT', 'LTM Net Income',
       'LTM Gross Margin', 'LTM EBITDA Margin', 'LTM EBIT Margin',
       'LTM Profit Margin', '1-year Sales Growth', '1-year EBITDA Growth',
       '1-year Net Income Growth', 'Beta', 'ROIC', 'ROA', 'ROE',
       'Implied Div. Yield', 'Debt / Tot. Cap.', 'Debt / EBITDA',
       'Net Debt / EBITDA', 'EBITDA / Int. Exp.', '(EBITDA - Cpx) / Int.',
       'EBIT / Int. Exp.'],
      dtype='object')

In [127]:
h = benchmarking[benchmarking['Ticker'] == 'H.TO']

closestComps = pd.DataFrame()

tickers = []
euclidDists = []
for comp in benchmarking[benchmarking['Ticker'] != 'H.TO']['Ticker']:
    
    tickers.append(comp)
    
    c = benchmarking[benchmarking['Ticker'] == comp]
    
    diffsSq = []
    
    for col in benchmarking.columns[1:]:
        diff = float(c[col].iloc[0] - h[col].iloc[0]) # Float prevents integer overflow.
        diffSq = diff ** 2
        diffsSq.append(diffSq)
    
    euclideanDist = math.sqrt(sum(diffsSq))
    euclidDists.append(euclideanDist)
    
closestComps['Ticker'] = tickers
closestComps['Euclidean Distance'] = euclidDists
closestComps.sort_values(by='Euclidean Distance', ascending=True, inplace=True)

In [129]:
closestComps

   Ticker  Euclidean Distance
1  EMA.TO        4.287869e+09
0  FTS.TO        2.417113e+10
2  RNW.TO        2.667041e+10
4  INE.TO        2.935598e+10
3  BLX.TO        3.000036e+10

In [130]:
twoClosestComps = list(closestComps['Ticker'].iloc[:2])
twoClosestComps

['EMA.TO', 'FTS.TO']

## Determine Valuation

In [131]:
valuation = {'Valuation Implied by Sales': [],
            'Valuation Implied by EBITDA': [],
            'Valuation Implied by EBIT': [],
            'Valuation Implied by EPS': []}

In [132]:
benchmarking.set_index('Ticker', inplace=True)

In [133]:
outputDf.set_index('Ticker', inplace=True)

In [134]:
sharesOut = targetInfo['sharesOutstanding']

### Valuation Implied by Sales

In [135]:
ltmSales = benchmarking.loc[targetTicker, 'LTM Sales']
evToSalesLB = min(outputDf.loc[twoClosestComps, 'EV / LTM Sales'])
evToSalesUB = max(outputDf.loc[twoClosestComps, 'EV / LTM Sales'])

In [136]:
impliedEVLB = ltmSales * evToSalesLB
impliedEVUB = ltmSales * evToSalesUB
print('Implied Enterprise Value:', impliedEVLB, '-', impliedEVUB)

Implied Enterprise Value: 42299112898.07891 - 44249842377.30298

In [137]:
debtt = ltmbalance.loc['Short Long Term Debt'] + ltmbalance.loc['Long Term Debt']
debttm1 = balance.iloc[:, 0].loc['Short Long Term Debt'] + balance.iloc[:, 0].loc['Long Term Debt']
netDebtt = debtt - ltmbalance.loc['Cash']

In [138]:
impliedEqVLB = impliedEVLB - netDebttm1
impliedEqVUB = impliedEVUB - netDebttm1
print('Implied Equity Value:', impliedEqVLB, '-', impliedEqVUB)

Implied Equity Value: 37646696898.07891 - 39597426377.30298

In [139]:
print('Implied Share Price:', round(impliedEqVLB/sharesOut, 2), '-', round(impliedEqVUB/sharesOut, 2))
valuation['Valuation Implied by Sales'] = [round(impliedEqVLB/sharesOut, 2), round(impliedEqVUB/sharesOut, 2)]

Implied Share Price: 62.93 - 66.19

### Valuation Implied by EBITDA

In [140]:
ltmEBITDA = benchmarking.loc[targetTicker, 'LTM EBITDA']

In [141]:
evToEBITDALB = min(outputDf.loc[twoClosestComps, 'EV / LTM EBITDA'])
evToEBITDAUB = max(outputDf.loc[twoClosestComps, 'EV / LTM EBITDA'])

In [142]:
impliedEVLB = ltmEBITDA * evToEBITDALB
impliedEVUB = ltmEBITDA * evToEBITDAUB
print('Implied Enterprise Value:', impliedEVLB, '-', impliedEVUB)

Implied Enterprise Value: 31721612270.233845 - 37248502546.95805

In [143]:
impliedEqVLB = impliedEVLB - netDebttm1
impliedEqVUB = impliedEVUB - netDebttm1
print('Implied Equity Value:', impliedEqVLB, '-', impliedEqVUB)

Implied Equity Value: 27069196270.233845 - 32596086546.958054

In [144]:
print('Implied Share Price:', round(impliedEqVLB/sharesOut, 2), '-', round(impliedEqVUB/sharesOut, 2))
valuation['Valuation Implied by EBITDA'] = [round(impliedEqVLB/sharesOut, 2), round(impliedEqVUB/sharesOut, 2)]

Implied Share Price: 45.25 - 54.49

### Valuation Implied by EBIT

In [145]:
ltmEBIT = benchmarking.loc[targetTicker, 'LTM EBIT']

In [146]:
evToEBITLB = min(outputDf.loc[twoClosestComps, 'EV / LTM EBIT'])
evToEBITUB = max(outputDf.loc[twoClosestComps, 'EV / LTM EBIT'])

In [147]:
impliedEVLB = ltmEBIT * evToEBITLB
impliedEVUB = ltmEBIT * evToEBITUB
print('Implied Enterprise Value:', impliedEVLB, '-', impliedEVUB)

Implied Enterprise Value: 33025645925.24694 - 46045094026.51208

In [148]:
impliedEqVLB = impliedEVLB - netDebttm1
impliedEqVUB = impliedEVUB - netDebttm1
print('Implied Equity Value:', impliedEqVLB, '-', impliedEqVUB)

Implied Equity Value: 28373229925.24694 - 41392678026.51208

In [149]:
print('Implied Share Price:', round(impliedEqVLB/sharesOut, 2), '-', round(impliedEqVUB/sharesOut, 2))
valuation['Valuation Implied by EBIT'] = [round(impliedEqVLB/sharesOut, 2), round(impliedEqVUB/sharesOut, 2)]

Implied Share Price: 47.43 - 69.19

### Valuation Implied by EPS

In [150]:
ltmNI = benchmarking.loc[targetTicker, 'LTM Net Income']
ltmEPS = ltmNI / sharesOut

In [151]:
peLB = min(outputDf.loc[twoClosestComps, 'Price / LTM EPS'])
peUB = max(outputDf.loc[twoClosestComps, 'Price / LTM EPS'])

In [152]:
print('Implied Share Price:', round(ltmEPS * peLB, 2), '-', round(ltmEPS * peUB, 2))
valuation['Valuation Implied by EPS'] = [round(ltmEPS * peLB, 2), round(ltmEPS * peUB, 2)]

Implied Share Price: 33.86 - 37.55

### Final Valuation

In [153]:
valuation

{'Valuation Implied by Sales': [62.93, 66.19],
 'Valuation Implied by EBITDA': [45.25, 54.49],
 'Valuation Implied by EBIT': [47.43, 69.19],
 'Valuation Implied by EPS': [33.86, 37.55]}

In [154]:
lowerBounds = []
upperBounds = []
for key in valuation:
    lowerBounds.append(valuation[key][0])
    upperBounds.append(valuation[key][1])

In [155]:
avgLower = round(sum(lowerBounds) / len(lowerBounds), 2)
avgUpper = round(sum(upperBounds) / len(upperBounds), 2)
print('Implied Share Price:', avgLower, '-', avgUpper)

Implied Share Price: 47.37 - 56.86